<!DOCTYPE html>
<html lang=ru>
		<head>
				<title>admin panel</title>
				<meta charset="utf-8">
				<link rel="stylesheet" type="text/css" href="styles.css">
				<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
				<header>
                        <h1>megara</h1>
                        <a href="about">about</a>
                        <button id="adminPanelButton">home page</button>
                </header>
				<ul id="databasesUl">
						<li class="databaseLi" id="databaseLiLog">log</li>
						<li class="databaseLi" id="databaseLiUser">user</li>
						<li class="databaseLi" id="databaseLiRole">role</li>
						<li class="databaseLi" id="databaseLiFile">file</li>
				</ul>
				<div id="main"></div>
				

</html>
