<!DOCTYPE html>
<html lang=ru>
		<head>
				<title>megara</title>
				<meta charset="utf-8">
				<link href="styles.css" type="text/css" rel="stylesheet">
				<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
				<header>
                        <h1>megara</h1>
                        <a href="about">about</a>
                        <button id="adminPanelButton">admin page</button>
                </header>
				<ul id="filesUl">
						<li class="fileLi">new file</li>
				</ul>
				<div id="editor">
						<h3>filename</h3>
						<textarea id="textEditor">
						</textarea>
						<span id="textVisual"></span>
				</div>
				<script src="scripts/homepage.js" type="text/javascript"></script>
		</body>

</html>
