<!DOCTYPE html>
<html lang=ru>
		<head>
				<title>megara</title>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" type="text/css" href="styles.css">
		</head>
		<body>
				<header>
						<h1>megara</h1>
						<a href="about">about</a>
						<button id="loginPageButton">login page</button>
				</header>
		<div id="badUser">
				<span>you are trying to get something you are now allow to</span>
		</div>
		</body>
</html>
