* {
		padding: 0;
		margin: 0;
		border: 0;
}

body {
		background-color: #99ccff;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
}

header {
		background-color: #ffffcc;
		width: 100%;
		position: absolute;
		top: 0;
		height: 48px;
		display: flex;
		flex-flow: row wrap;
		justify-content: end;
		align-items: center;
		gap: 4px;
}

header h1 {
		position: absolute;
		top: 4px;
		left: 4px;
		background-color: #99ccff;
		border-radius: 1em;
		padding: 0 1em;
}

header a, header button {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 10rem;
		background-color: #99ccff;
		border-radius: 1em;
		height: 40px;
		text-decoration: none;
		margin: 4px;
}

#loginDiv {
		display: flex;
		aspect-ratio: 3/2;
		flex-flow: column nowrap;
}

#loginDiv input {
		background-color: #ffffcc;
		margin: 4px;
		padding: 0.5em;
		border-radius: 1em;
}

#loginDiv #buttons {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
}

#buttons button {
		width: 45%;
		padding: 0.5em;
		background-color: #ffffcc;
		border-radius: 1em;
		margin: 4px;
}

#databasesUl {
		position: absolute;
		top: 48px;
		left: 0;
		background-color: #ffffcc;
		padding: 0.5em;
		margin: 4px;
		border-radius: 1em;
		list-style: none;
}

.databaseLi {
		margin: 4px;
		padding: 0.5em;
		border-radius: 1em;
		background-color: #99ccff;
		height: 1em;
		width: 5em;
		text-align: center;
}

#main {
		position: absolute;
		right: 0;
		top: 48px;
		width: calc(100vw - 130px - 8px - 1em);
		height: calc(100vh - 48px - 8px - 1em);
		background-color: #ffffcc;
		margin: 4px;
		padding: 0.5em;
		border-radius: 1em;
}
