<!DOCTYPE html>
<html>
		<link rel="stylesheet" href="cards.css">
		<body>
				<div class="fileDiv">
						<p class="fileName">file1.txt</p>
						<img class="fileImg">
				</div>
				<div class="fileDiv">
						<p class="fileName">file1.txt</p>
						<img class="fileImg">
				</div>
				<div class="fileDiv">
						<p class="fileName">file1.txt</p>
						<img class="fileImg">
				</div>
				<div class="fileDiv">
						<p class="fileName">file1.txt</p>
						<img class="fileImg">
				</div>
				<div class="fileDiv">
						<p class="fileName">file1.txt</p>
						<img class="fileImg">
				</div>
				<div class="fileDiv">
						<p class="fileName">file1.txt</p>
						<img class="fileImg">
				</div>
				<div class="fileDiv">
						<p class="fileName">file1.txt</p>
						<img class="fileImg">
				</div>
				<div class="fileDiv">
						<p class="fileName">file1.txt</p>
						<img class="fileImg">
				</div>
				<div class="fileDiv">
						<p class="fileName">file1.txt</p>
						<img class="fileImg">
				</div>
				<div class="fileDiv">
						<p class="fileName">file1.txt</p>
						<img class="fileImg">
				</div>
				<div class="fileDiv">
						<p class="fileName">file1.txt</p>
						<img class="fileImg">
				</div>
				<div class="fileDiv">
						<p class="fileName">file1.txt</p>
						<img class="fileImg">
				</div>
		</body>
</html>
