<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="editor.css">
    <title>file editor</title>
</head>
<body>
    <div id="editorMainDiv">
        <form id="filenameNSaveButton">
            <input type="text" id="filename" placeholder="filename">
            <button id="SaveButton">save</button>
        </form>
        <textarea id="text" placeholder="text of the file"></textarea>

    </div>
</body>
</html>