<link rel="stylesheet" href="../static/styles/searchline.css">
<div id="searchResults">
    <div class="searchResult">
        <svg class="resultSVGResult"></svg>
        <span class="resultNameResult">foobar.txt</span>
        <button class="downloadButtonResult">download</button>
        <button class="editButtonResult">edit</button>
        <button class="deleteButtonResult">delete</button>
    </div>
    <div class="searchResult">
        <svg class="resultSVGResult"></svg>
        <span class="resultNameResult">foobar.txt</span>
        <button class="downloadButtonResult">download</button>
        <button class="editButtonResult">edit</button>
        <button class="deleteButtonResult">delete</button>
    </div>
</div>