<!DOCTYPE html>
<html>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<center>
		<title>log in</title>
	</center>
	<body>
		<div id="log-in">
			<h3> log in</h3>
			<form id="search-username">
				<input id="username" name="username" placeholder="username" type="search">
			</form><br>
			<form id="search-password">
				<input id="password" name="password" placeholder="password" type="search">
			</form>
			<form id="LoginButton"><button>let me in</button></form>
			<form>
			  <input type="text" placeholder="you also can log in by id"><br>
			  <button type="submit">enter</button>
			</form>
		</div>
	<script type="text/javascript" src="{% static 'javascript/login.js' %}">
	</script>
	</body>
</html>
